
audio_device = 3
audio_volume = 0.20661158859729767
maximized_window = false
anti_lag = true
voice_chat_volume = 0.20661158859729767
framerate_limit_enabled = false
fullscreen = false
music_volume = 1
dialogue_volume = 1
aspect_ratio = -1
sfx_volume = 1
borderless_fullscreen = true
hostability = "0000b9a70000ee4f0000001e000000dabe558dca"
prev_audio_device = 0
adapter_index = 0
enable_resource_lock_debug = true
resolution_mode_index = 20
version = 15
render_backend = 0
prefer_hdr = false
render_settings = {
	light_falloff_end_target_bias = 0.5
	post_effects_enabled = false
	cubemap_lod_object_multiplier = 4
	gbuffer_subsurface_visualization = false
	vrs_pixel_classification_auxiliary_visualization = false
	motion_blur_enabled = false
	shadows = 0
	fog_far_particles_enabled_rs = true
	terrain_quality = 0
	terrain_trample_enabled = false
	gbuffer_iridescence_visualization = false
	gbuffer_heightmap_ao_visualization = false
	forward_local_lights_cast_shadows = false
	sun_lens_flare_mask_visualization = false
	gbuffer_specular_color_visualization = false
	cubemap_high_altitude_clouds_resolution = [
		32
		32
	]
	fog_near_particles_enabled_rs = true
	gbuffer_ambient_diffuse_visualization = false
	hq_bubble_fade_start = 20
	taa_no_history_visualization = false
	ssr_enabled = false
	renderer = {
	}
	object_lod_quality = 0
	object_density_include_meshes = true
	static_slice_half_size = 1024
	foliage_overdraw_visualization = false
	gbuffer_specular_visualization = false
	debug_lod = false
	object_density_include_trees = true
	use_spline_lut = false
	gbuffer_roughness_visualization = false
	upscaling_method = 0
	tweak_camo_customization = false
	gbuffer_ssao_visualization = false
	sun_shadow_map_visualization = false
	vrs_auxiliary_boost = 0.30000001192093106
	particles_cast_shadows = false
	speedtree_grass_shadow_lod_multiplier = 1
	overdraw_validation = false
	volumetric_clouds_quality = 0
	shadow_atlas_visualization = false
	gbuffer_reconstructed_normal_visualization = false
	vrs_auxiliary_threshold = 0.5
	ambient_only_visualization = 0
	gbuffer_albedo_verification_visualization = false
	tweak_pattern_customization = false
	shadow_mask_visualization = false
	last_grass_shadow_slice = -1
	cubemap_volumetric_clouds_resolution = [
		16
		16
	]
	debug_shadow_lod = false
	cs_cluster_max_depth_override = 0
	water_bending_enabled = false
	taa_enabled = true
	debug_forced_lod = 0
	static_slice_constribution_cull_scale = 0.25
	taa_stable_depth_visualization = false
	min_object_contribution_scale_cubemap = 4
	sun_shadows = false
	sun_flare_enabled = false
	vrs_use_fine_rate_threshold = 2
	hdr_enabled = false
	object_density_include_grass = true
	survey_url = "legal forced me to remove the placeholder"
	light_count_heatmap_visualization = false
	state_game = true
	max_lods = 0
	bloom_visualization = false
	object_density_validation_move_around = false
	light_cull_distance_multiplier = 35
	dof_enabled = false
	weather_particles_enabled_rs = true
	imp_transparent_override = 0
	vrs_edge_detection_visualization = false
	sun_shadow_map_filter_quality = "lowest"
	ship_name_resolution = [
		2048
		2048
	]
	baker_filter_lightmap = true
	texture_density_visualization = 0
	particles_local_lighting = true
	min_object_size_generation = 1
	vrs_mask_visualization = false
	far_fog_enabled = false
	hq_bubble_fade_end = 45
	ui_brightness = 336.35858154296875
	min_object_size_shadow = 0.050000000745058663
	depth_capture_enabled = false
	minimap_resolution = [
		2048
		2048
	]
	scatter_distance_multiplier = 0.69999998807907104
	bloom_enabled = true
	deferred_local_lights_cast_shadows = false
	last_slice_subdivisions = 3
	gbuffer_lighting_only_visualization = false
	imp_tile_size = 32
	high_altitude_clouds_enabled = false
	upscaling_quality = 5
	static_slice_min_object_size = 0.0099999997764827434
	vrs_is_edge_threshold = 0
	enable_gpu_crash_debug = true
	shadow_cascade_visualization = false
	tiled_lighting_visualization = false
	taa_hdr0_clamp_visualization = false
	color_blindness_simulation = 0
	use_static_last_slice = false
	local_lights_shadow_atlas_size = [
		1
		1
	]
	vista_clouds_enabled_rs = true
	hq_bubble_lod_selection_multiplier = 1
	fog_near_ground_enabled_rs = true
	scatter_density = 0
	view_distance = "low"
	ssr_mask_visualization = false
	wind_enabled = false
	local_lights_shadow_map_filter_quality = "lowest"
	ui_blur_sigma = 2.5
	gbuffer_clearcoat_normal_visualization = false
	clear_before_hologram = false
	selection_enabled = true
	cubemap_resolution = [
		32
		32
	]
	taa_ao_lerp_visualization = false
	baker_full_visualization = false
	max_num_shadow_casters = 0
	fsr_enabled = false
	reflection_quality = 0
	baker_materials_visualization = false
	space_probe_rendering = false
	local_lights = false
	gbuffer_wetness_visualization = false
	gbuffer_sun_shadow_visualization = false
	terrain_blending_enabled = false
	lighting_and_material_quality = 0
	gbuffer_material_ao_visualization = false
	light_count_validation_visualization = false
	debug_baker = false
	dof_visualization = false
	min_object_contribution_scale = 1
	gbuffer_normal_visualization = false
	screen_brightness = 1
	debug_forced_shadow_lod = 0
	object_density_visualization = false
	particle_quality = 0
	object_density_include_terrains = true
	min_object_size_cubemap = 3
	taa_hdr0_lerp_visualization = false
	gbuffer_specular_dielectric_visualization = false
	particles_tessellation = false
	color_grading_enabled = true
	taa_hdr0_jitter_visualization = false
	object_density_include_particles = true
	render_resolution = [
		1920
		1080
	]
	use_new_lod_selection = true
	lod_selection_multiplier = 0.3
	heathaze_enabled = false
	foliage_overdraw_validation = false
	vrs_sharpening_strength = 0.5
	object_density_validation = false
	overdraw_visualization = false
	vrs_deblocker_enabled = true
	sun_shadow_map_size = [
		512
		256
	]
	debug_taa = false
	hq_bubble_enabled = false
	use_imp = true
	gbuffer_clearcoat_roughness_visualization = false
	cubemap_mip_levels = 4
	gbuffer_velocity_visualization = false
	terminal_canvas_resolution = [
		960
		1080
	]
	circular_dof = false
	ssao_enabled = 0
	fog_volumes_enabled_rs = true
	gbuffer_ao_visualization = false
	min_object_contribution_scale_generation = 2
	particles_receive_shadows = false
	fxaa_enabled = false
	volumetric_fog_quality = 0
	space_quality = 0
	speedtree_shadow_lod_multiplier = 2
	lens_quality_enabled = true
	debug_rendering = false
	debug_deformation_prevention = false
	gbuffer_albedo_visualization = false
	gbuffer_metallic_visualization = false
	gbuffer_fuzz_visualization = false
	gbuffer_subsurface_color_visualization = false
	gbuffer_clearcoat_visualization = false
	gbuffer_sun_subsurface_shadow_visualization = false
	gbuffer_ssr_visualization = false
	imp_material_count_visualization = false
	occlusion_culling_depth_buffer_size_type = 2
	object_ids_visualization = false
	atmospheric_lookup_visualization = false
	auto_exposure_visualization = false
	motion_blur_amount_multiplier = 0
	debug_space_rs = false
	checkerboarding_enabled = false
	sharpening_amount = 0.75
	sharpening_enabled = true
	allow_async_compute = false
	scatter_bake_face = 0
	tweak_material_customization = false
	tweak_cape_customization = false
	mirror_screen = 0
	capture_cctv_feed = false
	far_scatter_enabled = true
	cluster_max_depth_multiplier = 1
	light_falloff_end_target_exposure_offset = 1
	light_falloff_end_target = 75
	drs_minimum_scale_factor = 0.5
	drs_scale_factor_count = 15
	vrs_enabled = false
	vrs_use_auxiliary_boost = false
	vrs_pixel_classification_visualization = false
	min_object_ss_size_multiplier = 7.5
	simulate_cubemap_culling = false
	graphics_preset = 0
	texture_quality = 1
	render_resolution_factor_index = 2
	vrs_quality = 0
	fsr1_enabled = false
	use_tiled_global_lighting = true
	drs_defaults_set = true
	vrs_sharpening_enabled = true
	vrs_coverage_enabled = true
	vrs_reprojection_bias = 0.38499999046325706
	vrs_reprojection_usage = 0.80000001192092896
	vrs_single_axis_opacity_multiplier = 0.99000000953674316
}
initial_setup_completed = true
fullscreen_output = 0
vsync = false
screen_resolution = [
	1920
	1080
]
tts_volume = 0.45454546809196472
midnight_mode = false
vertical_fov = 90
framerate_limit = 144
data_privacy = 0
drs_target = 0
reflex_mode = 3
